.git
.github
.venv
__pycache__
.pytest_cache
.ruff_cache
htmlcov
wheelhouse
coverage.xml
.coverage
mlruns
mlartifacts
mlflow.db
reports
data
tests
docs
deploy
infra
inputs
scripts
reports/tmp
*.pyc
*.pyo
*.log
.env
